body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 54px;
    color: #ccc;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/*----------- header ----------*/
/*----------------------------*/
#header {

    /* height + border = 85px */
    height: 84px;
    border: 1px solid #000;
    /*-----------------------*/

    position: absolute;
    top: 0;
    width: 100%;
    background-color: #444;
    opacity: 0.9;
    z-index: 100;
}

#title {
    /* height + margin = 85px */
    height: 70px;
    margin-top: 5px;
    margin-bottom: 10px;
    /*-----------------------*/
    margin-right: 5%;
    margin-left: 25%;
}

/*-------------------------*/
/*------------------------*/


/*------- modal-btn --------*/
/*-------------------------*/
.menu-btn span {
    color: #ccc;
    font-size: 16px;
}

.menu-btn span:after {
    content: attr(data-txt-menu);
}

.open .menu-btn span:after {
    content: attr(data-txt-close);
}

.menu-btn {
    position: absolute;
    padding: 10px;
    top: 25px;
    right: 15%;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}

.menu-btn:hover {
    opacity: 0.6;
}

/*-------------------------*/
/*------------------------*/


/*------ modal-menu ------*/
/*-----------------------*/
.menu {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
    z-index: 11;
}

.position {
    position: relative;
    width: 300px;
    height: 80px;
    margin: 2% auto;
    transform: translateX(-4%);
}

.menu ul {
    display: table-cell;
    vertical-align: middle;
}

.menu li {
    width: 300px;
    height: 80px;
    line-height: 80px;
    margin: 2% auto;
    text-align: center;
}

.menu li a {
    display: block;
    font-size: 18px;
    color: #fff;
}

.menu li a:hover {
    color: #000;
    opacity: 0.5;
    background-color: #fff;
}

.open .menu {
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 1;
    z-index: 9;
}

/*-----------------*/
/*----------------*/


.button span {
    display: block;
    position: absolute;
    width: 300px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
    border: 2px solid #fff;
    color: #fff;
}

.button span:nth-child(1) {
    background-color: #bbb;
    color: #000;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}

.button span:nth-child(2) {
    background-color: #888;
    color: #fff;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}

.button:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.button:hover span:nth-child(2) {
    background-color: #444;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

/*-----------------*/
/*----------------*/

.contact-wrapper {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 8;
}

.envelope {
    position: relative;
    display: block;
    width: 30em;
    height: 35em;
    margin: 0 auto;
}

.envelope.active .content {
    padding: 15em 2em 2em;
}

.envelope.active .paper.front,
.envelope.active .paper.back {
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.envelope.active .paper.front {
    animation-name: envelope-front;
}

.envelope.active .paper.back {
    animation-name: envelope-back;
}

.envelope.active .paper.back:before {
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1.25s;
    animation-name: envelope-back-before;
}

.envelope.active .bottom-wrapper {
    transform: rotateX(180deg);
}

.envelope.active .bottom-wrapper:after {
    z-index: 0;
    opacity: 1;
}

.envelope .content {
    padding: 2em;
    box-sizing: border-box;
    position: relative;
    z-index: 9;
    transition: all 0.5s ease-in-out;
    transition-delay: 1s;
    top: -10%;
}

.envelope .top-wrapper,
.envelope .bottom-wrapper {
    box-sizing: border-box;
    background: #fff;
    color: #fff;
}

.envelope .top-wrapper {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.envelope .bottom-wrapper {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.envelope .top-wrapper {
    padding: 2em 2em 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.envelope .bottom-wrapper {
    padding: 0 2em 2em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: all 0.5s ease-in-out;
    transform-origin: top;
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden;
    margin-top: -1px;
}

.envelope .bottom-wrapper:after {
    position: absolute;
    content: '';
    display: block;
    opacity: 0;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.envelope form label {
    display: block;
    padding-bottom: 0.5em;
    color: #000;
}

.envelope form input,
.envelope form textarea {
    width: 100%;
    box-shadow: 0;
    background: transparent;
}

.envelope form input {
    border-width: 0 0 0.1em;
    border-color: #000;
    border-style: solid;
}

.envelope form textarea {
    border: 0.1em solid #000;
    border-radius: 0.25em;
}

.envelope form .submit-card {
    border: 1px solid #000;
    box-shadow: none;
    border-radius: 0.25em;
    color: #000;
    text-align: center;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
}

.envelope form .input {
    padding-bottom: 1em;
}

.envelope .paper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    overflow: hidden;
}

.envelope .paper.back {
    top: 0;
}

.front {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.envelope .paper.back:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -1px;
    border-style: solid;
    border-width: 0 15em 10em 15em;
    border-color: transparent transparent #d3d3d3 transparent;
    transform-origin: bottom;
    transform-style: preserve-3d;
    z-index: 0;
}

.envelope .paper.back:after {
    content: '';
    display: block;
    background-color: #d3d3d3;
    width: 30em;
    height: 20em;
}

.envelope .paper.front {
    top: 10em;
    box-shadow: 0.1em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.envelope .paper.front:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10em 15em 0 15em;
    border-color: transparent #fff;
}

.envelope .paper.front:after {
    content: '';
    display: block;
    width: 30em;
    height: 10em;
    background: #fff;
    margin-top: -1px;
}

@keyframes envelope-front {
    0 {
        top: 10em;
        z-index: 0;
    }

    50% {
        top: 15em;
        z-index: 9;
    }

    100% {
        top: 10em;
        z-index: 9;
    }
}

@-webkit-keyframes envelope-front {
    0 {
        top: 10em;
        z-index: 0;
    }

    50% {
        top: 15em;
        z-index: 8;
    }

    100% {
        top: 10em;
        z-index: 8;
    }
}

@keyframes envelope-back {
    0 {
        top: 0;
    }

    50% {
        top: 5em;
    }

    100% {
        top: 0;
    }
}

@-webkit-keyframes envelope-back {
    0 {
        top: 0;
    }

    50% {
        top: 5em;
    }

    100% {
        top: 0;
    }
}

@keyframes envelope-back-before {
    0 {
        border-color: transparent transparent #d3d3d3 transparent;
        transform: rotateX(0deg);
        z-index: 0;
    }

    100% {
        border-color: transparent transparent #fff transparent;
        transform: rotateX(180deg);
        z-index: 99;
        position: relative;
        top: -2px;
    }
}


@-webkit-keyframes envelope-back-before {
    0 {
        border-color: transparent transparent #d3d3d3 transparent;
        transform: rotateX(0deg);
        z-index: 0;
    }

    100% {
        border-color: transparent transparent #fff transparent;
        transform: rotateX(180deg);
        z-index: 99;
        position: relative;
        top: -2px;
    }
}

#maguzo {
    width: 100%;
    height: 110%;
    top: 0;
    position: absolute;
}

#maguzo div {
    position: absolute;
}

#hanko img {
    width: 100%;
}

#hanko {
    width: 325px;
    top: 0;
    right: 210px;
    opacity: 0;
    z-index: 10;
}
